<style>
    button{
        background-color: aquamarine;
        border-radius: 20px;
        width: 150px;
        height: 50px ;
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    a{
        text-decoration: none;
    }
</style>
<h1>you are logged out</h1>
<button ><a href="/login">Log in again</a></button>